@{
    ViewData["Title"] = "COMPRAR TELEFONOS";
}
<div class="text-center">
    </br>
    </br>
    <h1 class="display-4">REALIZA UN PEDIDO</h1>
    <p><h3>En esta pestañas vas a poder seleccionar los tennis que quieres agregar a tu carrito, si le das al + vas a añadirlo al carrito y si le das - vas a poder quitar el producto,la lista se creara en el orden en el que agreges los tennis(usando arreglos)</h3></p>
</div>
</br>
</br>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="\imagenes\z1.jpg" alt="Card image cap" width="200" height="400">
    <div class="card-body">
      <center><h5 class="card-title">Under Armour Lockdown 5</h5></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="\imagenes\z2.jpg" alt="Card image cap" width="200" height="400">
    <div class="card-body">
      <center><h5 class="card-title">Nike Hombres KD Trey 5</h5></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="\imagenes\z3.jpg" alt="Card image cap" width="200" height="400">
    <div class="card-body">
      <center><h5 class="card-title">PEAK Lou Williams Streetball Master</h5></center>
    </div>
  </div>
</div>
</br>
</br>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="\imagenes\z4.jpg" alt="Card image cap" width="200" height="400">
    <div class="card-body">
      <center><h5 class="card-title">adidas Men's Harden Stepback</h5></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="\imagenes\z5.jpg" alt="Card image cap" width="200" height="400">
    <div class="card-body">
      <center><h5 class="card-title">Nike Air Precision II NBK </h5></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="\imagenes\z6.jpg" alt="Card image cap" width="200" height="400">
    <div class="card-body">
      <center><h5 class="card-title">adidas Harden Volume 5</h5></center>
    </div>
  </div>
</div>
</br>
</br>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="\imagenes\z7.jpg" alt="Card image cap" width="200" height="400">
    <div class="card-body">
      <center><h5 class="card-title">PEAK</h5></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="\imagenes\z8.jpg" alt="Card image cap" width="200" height="400">
    <div class="card-body">
      <center><h5 class="card-title">Under Armour 3022051-005 UA</h5></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="\imagenes\z9.jpg" alt="Card image cap" width="200" height="400">
    <div class="card-body">
      <center><h5 class="card-title">LI-NING fisión serie Wade</h5></center>
    </div>
  </div>
</div>
</br>
</br>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="\imagenes\z10.jpg" alt="Card image cap" width="200" height="400">
    <div class="card-body">
      <center><h5 class="card-title">Zapapito de Oscar uwu</h5></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="\imagenes\z11.jpg" alt="Card image cap" width="200" height="400">
    <div class="card-body">
      <center><h5 class="card-title">Nike Air Visi Pro VI</h5></center>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="\imagenes\z12.jpg" alt="Card image cap" width="200" height="400">
    <div class="card-body">
      <center><h5 class="card-title">Under Armour 3z5</h5></center>
    </div>
  </div>
</div>
</br>
</br>
<center>
<button style ="text-align:center;"type="button" class="btn btn-dark">Realizar Pedido</button>
</center>
</br>
</br>
</br>
</br>