@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    </br>
    </br>
    <h1 class="display-4">Quienes Somos ?</h1>
    <p><h3>Somos una plataforma la cual se encarga de tomar tu lista de compras, contactar con los distribuidores de los productos y hacer las debidas compras</h3></h1></p>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="\imagenes\i1.jpg" alt="no funciono" width="200" height="200">
    <div class="card-body">
      <h5 class="card-title">Compras Seguras</h5>
      <p class="card-text">compra sin problemas ni preocupaciones, con calculos a tiempo real del total de tus compras</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="\imagenes\i2.jpg" alt="no funciono" width="200" height="200">
    <div class="card-body">
      <h5 class="card-title">¿Cantidad?</h5>
      <p class="card-text">Compra una unidad maximo de cada producto sin preocupaciones </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="\imagenes\i3.png" alt="no funciono" width="200" height="200">
    <div class="card-body">
      <h5 class="card-title">Carrito</h5>
      <p class="card-text">Administra cada producto de tu carrito de compra, pudiendo agregar, eliminar y buscar sin problemas</p>
    </div>
  </div>
</div>
</br>
</br>
</br>
</br>
